* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.contenedor-fondo {
  display: block;
  position: relative;
  background-image: url('../IMG/fondo_index.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
}


/*CONTENEDOR DEL MENU*/
.contenedor-menu {
  position: relative;
  background: rgba(0,0,0,.95);
  width: 100%;
  height: 40px;
}

.contenedor-menu .contenedor-opciones {
  display: inline-block;
  margin-left: 50px;
}

.contenedor-menu .contenedor-opciones li {
  display: inline-block;
  text-decoration: none;
  padding: 5px 0px;
}

.contenedor-menu .contenedor-opciones li a {
  display: inline-block;
  padding: 5px 5px;
  width: 100px;
  color: #fff;
  border: none;
  /* background: rgba(0,0,0,.9); */
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-family: Arial;
  transition: all .5s ease;
}

.contenedor-menu .contenedor-opciones li a:hover {
  border-bottom: 2px solid #fff;
}


/*CONTENEDOR DEL LOGO*/
.contenedor-fondo .contenedor-logo {
  position: relative;
  background: rgba(0,0,0,.9);
  width: 100%;
  height: 60px;
  display: inline-block;
  margin-top: 4px;
}

.contenedor-fondo .contenedor-logo img{
  width: 8%;
  height: 55px;
  margin-left: 50px;
}

.contenedor-fondo .contenedor-logo li {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  height: 100%;
  margin-left: 70%;
}

.contenedor-fondo .contenedor-logo li a {
  display: inline-block;
  width: 100px;
  height: 30px;
  font-family: Arial;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-top: 20px;
  transition: all .5s ease;
}

.contenedor-fondo .contenedor-logo li a:hover {
  border-bottom: 2px solid #fff;
}

/*DISEÑO DE LOS TEXTOS H2, H3*/
.contenedor-fondo h2 {
  color: #fff;
  font-family: Arial;
  font-size: 40px;
  margin-left: 50px;
  margin-top: 130px;
}

.contenedor-fondo h3 {
  color: #fff;
  font-family: Arial;
  font-size: 20px;
  margin-left: 51px;
  margin-top: 10px;
}

/*CONTENDOR DE LOS LUGARES TURISTICOS*/
.contenedor-lugares {
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.95);
  width: 80%;
  border: none;
  border-radius: 10px;
  margin-top: -300px;
  margin-left: 10%;
  margin-bottom: 20px;
  box-shadow: -1px 0px 10px 4px rgba(0,0,0,0.5)
}

.contenedor-lugares .sub-contenedor {
  /* background: rgba(0, 0, 0, 0.5); */
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.contenedor-lugares .sub-contenedor .contenedor-1 {
  /* background: rgba(0, 0, 0, 0.5); */
  padding: 0px 10px;
  width: 400px;
}

.contenedor-lugares .sub-contenedor .contenedor-1 h3 {
  padding: 20px 15px;
  width: 100%;
  font-family: Arial;
  font-size: 18px;
  color: #000;
}

.contenedor-lugares .sub-contenedor .contenedor-1 img {
  width: 300px;
  height: 150px;
  border: none;
  border-radius: 5px;
}

.contenedor-lugares .sub-contenedor .contenedor-2 {
  /* background: rgba(0, 0, 0, 0.5); */
  padding: 0px 10px;
  width: 100%;
}

.contenedor-lugares .sub-contenedor .contenedor-2 .parrafo {
  display: inline-block;
  padding: 20px 15px;
  width: 100%;
  height: 170px;
  font-family: Arial;
  font-size: 14px;
  color: #6C6C6C;
}

.contenedor-lugares .sub-contenedor .contenedor-2 input[type="submit"] {
  background: rgba(34, 153, 84, 1);
  color: #fff;
  font-family: Arial;
  font-size: 15px;
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-top: 0px;
  margin-left: 15px;
  transition: all .5s ease;
}

.contenedor-lugares .sub-contenedor .contenedor-2 input[type="submit"]:hover {
  background: rgba(243, 156, 18, 1);
  border-bottom: 3px solid rgba(186, 74, 0, 0.8);
}
