* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  /* background: rgba(23, 32, 42, 1); */
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.cabecera {
  background: rgba(22, 73, 107, 1);
  width: 100%;
  height: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.contenido-1 {
  padding: 20px 20px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.contenido-1 .sub-contenido-1 {
  background: rgba(59, 66, 66, 1);
  width: 340px;
  max-width: 90%;
  border: none;
  border-radius: 5px;
}

.contenido-1 .sub-contenido-1 nav ul li {
  display: inline-block;
  width: 100%;
}

.contenido-1 .sub-contenido-1 nav ul li a {
  padding: 5px 5px;
  display: inline-block;
  border: none;
  text-decoration: none;
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #fff;
  text-align: left;
  font-family: Arial;
  font-size: 15px;
  color: #fff;
  transition: all .5s ease;
}

.contenido-1 .sub-contenido-1 nav ul li a:hover {
  background: rgba(66, 73, 73, 1);
}

.contenido-1 .sub-contenido-1 nav ul li ul {
  display: none;
}

.contenido-1 .sub-contenido-1 nav ul li ul li a {
  font-size: 15px;
  padding: 5px 50px;
  background: rgba(66, 73, 73, 1);
  transition: all .5s ease;
}

.contenido-1 .sub-contenido-1 nav ul li ul li a:hover {
  background: rgba(0, 6, 66, 1);
}

.contenido-1 .sub-contenido-1 nav ul .activado>a {
  background: rgba(66, 73, 73, 1);
}

.contenido-1 .sub-contenido-1 .icono.izquierda {
  font-size: 18px;
  margin: auto;
  margin-right: 10px;
  margin-left: 5px;
}

.contenido-1 .sub-contenido-1 .icono.derecha {
  float: right;
  font-size: 15px;
  margin: auto;
  margin-top: 5px;
  margin-right: 20px;
}

.contenido-1 .sub-contenido-2 {
  display: inline-block;
  background: rgba(216, 208, 208, .2);
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 570px;
  margin-left: 30px;
  padding: 10px 10px;
}

.cabecera .cabecera-1 li {
  display: inline-block;
  text-decoration: none;
  width: 120px;
}

.cabecera .cabecera-1 li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 40px;
  text-align: center;
  padding: 10px 0px;
  margin-top: 5px;
  margin-left: 30px;
  font-size: 15px;
  font-family: Arial;
  transition: all .5s ease;
}

.cabecera .cabecera-1 li a:hover {
  border-bottom: 2px solid #fff;
}

.cabecera .cabecera-1 .icono.izquierda {
  font-size: 15px;
  margin: auto;
  margin-right: 10px;
}

.cabecera .cabecera-2 {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cabecera .cabecera-2 .cabecera-contenido {
  margin-left: 70%;
}

.cabecera .cabecera-2 .cabecera-contenido h3 {
  font-size: 15px;
  text-align: center;
  padding: 0px 0px;
  color: #fff;
  margin-top: 5px;
}

.cabecera .cabecera-2 .cabecera-salir {
  margin-left: 2%;
}

.cabecera .cabecera-2 .cabecera-salir form {
  width: 150px;
}

.cabecera .cabecera-2 .cabecera-salir input[type="submit"] {
  font-size: 16px;
  font-family: Arial;
  text-align: center;
  width: 100%;
  height: 40px;
  margin: 5px auto;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
  transition: all .5s ease;
}

.cabecera .cabecera-2 .cabecera-salir input[type="submit"]:hover {
  border: 3px solid rgba(255, 255, 255, 1);
}
