body {
  font-family: Arial;
  background: url(../IMG/registro.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
/*
.contenedor-menu {
  position: absolute;
  background: rgba(0,0,0, .9);
  width: 100%;
  height: 40px;
}

.contenedor-menu .contenedor-opciones {
  display: inline-block;
  margin-left: 50px;
}

.contenedor-menu .contenedor-opciones li {
  display: inline-block;
  text-decoration: none;
  padding: 5px 0px;
}

.contenedor-menu .contenedor-opciones li a {
  display: inline-block;
  padding: 5px 5px;
  width: 100px;
  color: #fff;
  border: none;
  background: rgba(0,0,0,.9);
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-family: Arial;
  transition: all .5s ease;
}

.contenedor-menu .contenedor-opciones li a:hover {
  border-bottom: 2px solid #fff;
}
*/

/*ESTILOS PARA LOS TABS*/
.wrap{
	width: 600px;
	max-width: 90%;
	margin: 50px auto;
}

ul.tabs{
	width: 100%;
	background: #363636;
	list-style: none;
	display: flex;
}

ul.tabs li{
	width: 100%;
}

ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	display: block;
	padding: 20px 0px;
  transition: all .5s ease;
}

.active{
	background: #0984CC;
}

ul.tabs li a .tab-text{
	/* margin-left: 8px; */
}

.secciones{
	width: 100%;
	background: #fff;
  border-bottom: 1px solid rgba(0,0,0,.4);
  border-left: 1px solid rgba(0,0,0,.4);
  border-right: 1px solid rgba(0,0,0,.4);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.secciones article{
	padding: 30px;
}

.secciones article p{
	text-align: justify;
}


@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 20px;
	}
}


/*FORMULARIO REGISTRO USUARIO*/
.wrap .secciones article h1 {
  text-align: center;
  font-size: 20px;
  padding: 5px 0px;
}

.wrap .secciones article .contenedor-usuario .form-usuario {
  margin-left: 50px;
  margin-right: 50px;
}

.wrap .secciones article .contenedor-usuario .form-usuario h4 {
  font-size: 13px;
  padding: 5px 0px;
}

.wrap .secciones article .contenedor-usuario .form-usuario .datos-personales {
  font-size: 13px;
  padding: 5px 0px;
  margin-top: 20px;
}

.wrap .secciones article .contenedor-usuario .form-usuario input[type="text"],
.wrap .secciones article .contenedor-usuario .form-usuario input[type="password"],
.wrap .secciones article .contenedor-usuario .form-usuario .select-sexo,
.wrap .secciones article .contenedor-usuario .form-usuario .select-razon {
  text-align: center;
  font-size: 12px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.wrap .secciones article .contenedor-usuario .form-usuario textarea {
  text-align: justify;
  font-size: 12px;
  width: 100%;
  height: 100px;
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 10px;
}
.wrap .secciones article .contenedor-usuario .form-usuario input[type="submit"] {
  text-align: center;
  font-size: 15px;
  color: #fff;
  background: rgba(35, 155, 86, 0.9);
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: all .5s ease;
}

.wrap .secciones article .contenedor-usuario .form-usuario input[type="submit"]:hover {
  background: rgba(241, 196, 15, 0.9);
  border-bottom: 3px solid rgba(214, 137, 16, 0.5);
}


/*DISEÑO PARA EL BTN AGREGAR IMAGEN */
.wrap .secciones article .contenedor-usuario .form-usuario .sub-contenedor-img .div-file {
  position: relative;
  color: #fff;
  background: rgba(4, 86, 239,1);
  40, 116, 166
  width: 100%;
  height: 40px;
  font-size: 15px;
  font-family: Arial;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  transition: all .5s ease;
}
.wrap .secciones article .contenedor-usuario .form-usuario .sub-contenedor-img .div-file p {
  padding: 10px;
  text-align: center;
}

.wrap .secciones article .contenedor-usuario .form-usuario .sub-contenedor-img .div-file input[type="file"] {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.wrap .secciones article .contenedor-usuario .form-usuario .sub-contenedor-img .div-file input[type="file"]:hover,
.wrap .secciones article .contenedor-usuario .form-usuario .sub-contenedor-img .div-file:hover {
    background: rgba(5, 65, 178,1);
    border-bottom: 4px solid rgba(16, 57, 121,1);
}
